<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>URL Shortener</title>
  <link rel="stylesheet" href="style.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %> 
<% if(isLoggedIn) { %>
  <h2>You are logged In</h2>
<% } else { %>
  <h2>You are not logged In</h2>
<% } %>


  <main class="home-page">
    <div class="url-container">
      <h2>URL Shortener</h2>
      <form action="/" method="post">
        <input type="url" name="url" placeholder="Enter long URL" required />
        <input type="text" name="shortCode" placeholder="Custom short code (optional)" />
        <button type="submit">Shorten URL</button>
      </form>

      <div class="shortened-list">
        <h3>Shortened URLs</h3>
        <ul>
          <% links.map(({ shortCode, url }) => { %>
            <% if (url) { %>
              <% const truncatedURL = url.length >= 30 ? `${url.slice(0, 30)}...` : url; %>
              <li>
                <a href="/<%= shortCode %>" target="_blank">
                  <%= host %>/<%= shortCode %>
                </a>
                <p><small>Original: <%= truncatedURL %></small></p>
              </li>
            <% } %>
          <% }) %>
        </ul>
      </div>
    </div>
  </main>

</body>
</html>
